<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>动漫</key>
	<array>
		<dict>
			<key>content</key>
			<string>嗯哼，其实人家是很害羞的拉！</string>
			<key>name</key>
			<string>雏田</string>
			<key>url</key>
			<string>chutian.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>小樱，由我来守护！</string>
			<key>name</key>
			<string>漩涡鸣人</string>
			<key>url</key>
			<string>xuanwomingren.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>小兰，等着我！</string>
			<key>name</key>
			<string>工藤新一</string>
			<key>url</key>
			<string>gongtengxinyi.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>新一，你在哪？</string>
			<key>name</key>
			<string>毛利兰</string>
			<key>url</key>
			<string>maolilan.png</string>
		</dict>
	</array>
	<key>影视</key>
	<array>
		<dict>
			<key>content</key>
			<string>七个小老婆，哈哈哈哈！</string>
			<key>name</key>
			<string>韦小宝</string>
			<key>url</key>
			<string>weixiaobao.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>每个星期才有一次，哼！</string>
			<key>name</key>
			<string>双儿</string>
			<key>url</key>
			<string>shuanger.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>name</key>
			<string>何以琛</string>
			<key>url</key>
			<string>heyichen.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string></string>
			<key>name</key>
			<string>赵默笙</string>
			<key>url</key>
			<string>zhaomosheng.png</string>
		</dict>
	</array>
	<key>名著</key>
	<array>
		<dict>
			<key>content</key>
			<string>谢谢相公~~~</string>
			<key>name</key>
			<string>白素贞</string>
			<key>url</key>
			<string>baisuzhen.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>娘子，啊哈？</string>
			<key>name</key>
			<string>许仙</string>
			<key>url</key>
			<string>xuxian.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>一只手臂算什么？</string>
			<key>name</key>
			<string>杨过</string>
			<key>url</key>
			<string>yangguo.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>过儿！过儿！你在哪？</string>
			<key>name</key>
			<string>小龙女</string>
			<key>url</key>
			<string>xiaolongnv.png</string>
		</dict>
	</array>
	<key>最新</key>
	<array>
		<dict>
			<key>content</key>
			<string>为了你，我承包了所有仓库！</string>
			<key>name</key>
			<string>刘糨东</string>
			<key>url</key>
			<string>liujiangdong.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>我不是绿茶，我是奶荼！</string>
			<key>name</key>
			<string>奶荼妹</string>
			<key>url</key>
			<string>naitumei.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>尔康！尔康！</string>
			<key>name</key>
			<string>紫薇</string>
			<key>url</key>
			<string>ziwei.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>紫薇，你在哪？</string>
			<key>name</key>
			<string>尔康</string>
			<key>url</key>
			<string>erkang.png</string>
		</dict>
	</array>
	<key>海贼王</key>
	<array>
		<dict>
			<key>content</key>
			<string>我是要成为海贼王的男人！</string>
			<key>name</key>
			<string>蒙奇.D.路飞</string>
			<key>url</key>
			<string>lufei.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>全世界都被我折服！</string>
			<key>name</key>
			<string>女帝.汉库克</string>
			<key>url</key>
			<string>hankuke.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>小炮</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>寒冰射手</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>凤凰</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>火女</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>沙王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>屠夫</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>西游记</key>
	<array>
		<dict>
			<key>content</key>
			<string>Only  you~~~</string>
			<key>name</key>
			<string>唐三藏</string>
			<key>url</key>
			<string>tangsanzang.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>我已经按捺不住了！</string>
			<key>name</key>
			<string>白骨精</string>
			<key>url</key>
			<string>baigujing.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白象王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白骨精</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>奔波儿灞</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>灞波儿奔</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
</dict>
</plist>
