<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOTA</key>
	<array>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>凤凰</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>火女</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>沙王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>屠夫</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>熊猫</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>LOL</key>
	<array>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>蒙多</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>卡特琳娜</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>德玛西亚</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>蛮王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>小炮</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>寒冰射手</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>安妮</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>名著</key>
	<array>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>沙僧</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>金角大王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白象王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白骨精</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>最新</key>
	<array>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>安妮</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>奔波儿灞</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>灞波儿奔</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>熊猫</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>游戏</key>
	<array>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>蒙多</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>卡特琳娜</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>德玛西亚</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>蛮王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>小炮</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>星辰大海</string>
			<key>name</key>
			<string>寒冰射手</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>凤凰</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>火女</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>沙王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>春暖花开</string>
			<key>name</key>
			<string>屠夫</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
	<key>西游记</key>
	<array>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>沙僧</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>金角大王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白象王</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>白骨精</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>奔波儿灞</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>西天取经</string>
			<key>name</key>
			<string>灞波儿奔</string>
			<key>url</key>
			<string>http://192.168.0.177:8080/Cos_Chat/img/cabin.png</string>
		</dict>
	</array>
</dict>
</plist>
