<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>K歌</string>
	<string>果粉</string>
	<string>购物狂</string>
	<string>美食</string>
	<string>电影</string>
	<string>摄影</string>
	<string>旅游</string>
	<string>各种宅</string>
	<string>幽默</string>
	<string>爱时尚</string>
	<string>闷骚</string>
	<string>低调</string>
	<string>温柔</string>
	<string>执着</string>
	<string>静待缘分</string>
	<string>幸福ing</string>
	<string>起床困难</string>
	<string>纠结ing</string>
	<string>失恋ing</string>
	<string>努力加班</string>
	<string>土豪</string>
	<string>熟女</string>
	<string>屌丝</string>
	<string>腐女</string>
	<string>有马甲线</string>
	<string>狂吃不胖</string>
	<string>没生过病</string>
	<string>对眼</string>
	<string>倒立睡觉</string>
	<string>力大无穷</string>
	<string>单眉毛动</string>
</array>
</plist>
